<%- include('../partials/header.ejs'); %>

    <body>
        <%- include('../partials/navbar.ejs'); %>
            <div class="container">
                <div class="topo">
                    <h1>Pessoas cadastradas</h1>
                    <a href="/cadastrar" class="btn btn-success">Cadastrar</a>
                </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cpf</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <% result.pessoas.rows.forEach(pessoa=> { %>

                        <tbody>
                            <tr>
                                <td>
                                    <%= pessoa.id %>
                                </td>
                                <td>
                                    <%= pessoa.nome %>
                                </td>
                                <td>
                                    <%= pessoa.cpf %>
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="/visualizar/<%= pessoa.id %> ">Visualizar</a>
                                </td>
                            </tr>
                        </tbody>

                        <% }) %>
                </table>
                <div class="row">
                    <div class="col col-12">

                        <% if (result.page > 2) { %>
                        <a class="btn btn-secondary" style="float: left" href="/page/<%= result.page - 1 %>">ANTERIOR</a>
                        <% } else if( result.page == 2) { %>
                        <a class="btn btn-secondary" style="float: left" href="/">ANTERIOR</a>
                        <% } %>

                        <% if (result.next) { %>
                        <a class="btn btn-secondary" style="float: right" href="/page/<%= result.page + 1 %>">PROXIMO</a>
                        <% } %>

                    </div>
                </div>
            </div>
    </body>
    <%- include('../partials/footer.ejs'); %>